body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-image: url("https://r4.wallpaperflare.com/wallpaper/586/603/742/minimalism-4k-for-mac-desktop-wallpaper-08165d58e0100cf8e0ec214e88e2e4aa.jpg");
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.363);
  color: white;
  font-size: 50px;
  border-radius: 10px;
  backdrop-filter: blur(2px);
}
